<div class="status-effects">
  {{#each conditions}}
  <div class="pf2e-effect-img-container">
    <img class="pf2e-effect-control{{#if this.active}} active{{#if this.hasParent}} {{../conditionalStyle}}{{/if}}{{/if}}" src="{{this.img}}" data-condition="{{this.name}}" data-effect="{{this.statusName}}" data-is-valued="{{this.isValued}}">
    <span class="pf2e-effect-name">{{this.name}}{{#if this.isValued}}{{#if this.value}} ({{this.value}}){{/if}}{{/if}}</span>
  </div>
  {{/each}}
</div>
