.conditions-panel {
    .status-effects {
        display: flex;
        flex-wrap: wrap;
        pointer-events: visible;
    }
    .pf2e-effect-img-container {
        width: 75px;
        vertical-align: top;
        display: inline-block;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
    }
    .pf2e-effect-control {
        width: 40px;
        height: 40px;
        margin: 0;
        padding: 0;
        margin-top: 5px;
        border: none;
        opacity: 0.4;
    }
    .pf2e-effect-control:hover {
        opacity: 0.75;
    }
    .pf2e-effect-control.active {
        opacity: 1;
    }
    .pf2e-effect-control.active.red {
        border: 2px solid #ff0000;
    }
    .pf2e-effect-control.active.grey {
        filter: grayscale(100%);
    }
    .pf2e-effect-name {
        display: block;
    }
}
